<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="es.springwebapp.springpetclinic.model.Vet"*/-->
    <h2>List of Vets</h2>
    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Specialties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
            <td>
                <span th:each="specialty : ${vet.specialties}" th:text="${'| ' + specialty.description + ' '}">Vet</span>
                <span th:if="${vet?.specialties?.size() == 0}">| None </span>
                <span>|</span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>